@model LeshBrain.ViewModels.InfoBooksViewModel
@{ 
    Layout = "_LayoutAdmin";
    ViewData["Name"] = "Библиотека";
}
<div class="scroll-block table-block container">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <form class="filtrLib" method="post" asp-controller="Library" asp-action="Edit" enctype="multipart/form-data">
                <div class="text-center">
                    <h3>@Model.Book.Name</h3>
                </div>
                <div class="form-row">
                    <div class="row">
                        <div class="col-md-10 justify-content-center">
                            <div class="m-3">
                                <input type="hidden" asp-for="Book.Id" />
                                <label for="name">Название</label>
                                @if (User.IsInRole("mentor") || User.IsInRole("admin"))
                                {
                                    <input type="text" asp-for="Book.Name" class="form-control tbhr-input" id="name" placeholder="Название">
                                }
                                else
                                {
                                    <input type="text" asp-for="Book.Name" class="form-control tbhr-input disabled" id="name" placeholder="Название">
                                }
                            </div>
                            <div class="m-3">
                                <label for="opis">Описание</label>
                                @if (User.IsInRole("mentor") || User.IsInRole("admin"))
                                {
                                    <textarea asp-for="Book.Description" name="" id="" cols="30" rows="4" itemid="opis" class="tbhr-input form-control"></textarea>
                                }
                                else
                                {
                                    <textarea asp-for="Book.Description" name="" id="" cols="30" rows="4" itemid="opis" class="tbhr-input form-control disabled"></textarea>
                                }
                            </div>
                            <div class="m-3">
                                @if (User.IsInRole("mentor") || User.IsInRole("admin"))
                                {
                                    <label for="inputState">Новая категория.Текущая @Model.Book.Category.Name</label>
                                    <select id="inputState" name="categoryID" asp-items="Model.ListCategory" class="form-control">
                                        <option value="0">@Model.Book.Category.Name</option>
                                    </select>
                                }
                                else
                                {
                                    <h3>Категория @Model.Book.Category.Name</h3>
                                }
                            </div>
                            <div class="m-3">
                                @if (User.IsInRole("mentor") || User.IsInRole("admin"))
                                {
                                    <label for="file">Загрузить новый файл</label>
                                    <input type="file" name="newFile" class="form-control" /><br>
                                }
                                <div class="list-group">
                                    <a href="@Model.Book.ResourceURL" class="list-group-item list-group-item-action active" aria-current="true">Читать</a>
                                </div>
                            </div>
                            @if (User.IsInRole("mentor") || User.IsInRole("admin"))
                            {
                                <div class="m-3 text-center">
                                    <button type="submit" class="tb-btn btn rounded-pill">Изменить</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </form>
            @if ((User.IsInRole("mentor") || User.IsInRole("admin")))
            {
                <form method="post" asp-controller="Library" asp-action="Delete">
                    <input type="hidden" name="id" value="@Model.Book.Id" />
                    <button class="btn btn-danger">Удалить</button>
                </form>
            }
        </div>
    </div>
</div>