@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole<int>>
@{
    Layout = "_LayoutAdmin";
    ViewData["Name"] = "Роли";
}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="table-block">
                <div class="tb-header d-flex justify-content-center">
                    <div class="tbh-div text-center">
                        <h3>Роли</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="table-block row">
        <div class="col">
            <div class="createrolediv">
                <button id="createRolebtn" class="tb-btn btn rounded-pill">Создать</button>
                <button id="hideCreaterolbtn" class="hide btn btn-primary rounded-pill">Скрыть</button>
                <div class="hide form">
                    <form method="post" asp-controller="Roles" asp-action="Create">
                        <div class="pb-3">
                            <label for="nameRole" class="form-label">Название роли</label>
                            <input type="text" name="nameRole" class="filt-role tbhr-input form-control" id="nameRole" aria-describedby="nameRole" required>
                        </div>
                        <button class="btn btn-primary rounded-pill">Сохранить</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="role-block col-7 d-flex justify-content-center ">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Нормализованное имя</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr class="rolCol" data-id="@role.Id">
                            <th scope="row">@role.Id</th>
                            <td>
                                @if (role.Name == "admin")
                                {
                                    <span class="badge rounded-pill bg-primary">@role.Name</span>
                                }
                                else if (role.Name == "employee")
                                {
                                    <span class="badge rounded-pill bg-success">@role.Name</span>
                                }
                                else if (role.Name == "mentor")
                                {
                                    <span class="badge rounded-pill bg-info">@role.Name</span>
                                }
                                else if (role.Name == "anon")
                                {
                                    <span class="badge rounded-pill bg-warning">@role.Name</span>
                                }
                                else
                                {
                                    <span class="badge rounded-pill bg-dark">@role.Name</span>
                                }
                            </td>
                            <td>@role.NormalizedName</td>
                            <td>
                                <form method="post" asp-controller="Roles" asp-action="Delete">
                                    <input type="hidden" name="id" value="@role.Id"/>
                                    <button class="btn btn-danger">Удалить</button>
                                </form>
                            </td>
                            <td>
                                <form method="get" asp-controller="Roles" asp-action="Edit">
                                    <input type="hidden" name="id" value="@role.Id"/>
                                    <button class="bnt btn-primary">Изменить</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="role-block col-5 d-flex justify-content-center">
            <div class="filtroldiv">
                <form method="get" asp-controller="Roles" asp-action="Index">
                    <div class="pb-3">
                        <label for="emailInput" class="form-label">Название роли</label>
                        <input type="text" name="name" class="filt-role tbhr-input form-control" id="emailInput" aria-describedby="emailHelp">
                    </div>
                    <div class="pb-3 text-center">
                        <button class="tb-btn btn rounded-pill">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>